* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d4eaf3;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #a8ebeb;
}

#name {
    position: relative;
    left: 50%;
    max-width: 300px;
    min-height: 300px;
    margin-left: -150px;
    border-radius: 50%;
    text-align: center;
    line-height: 300px;
    background-color: #dfb9c8;
    color: #2b1f61;
    font-size: 60px;
}

#rollCall {
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 80px;
    width: 200px;
    height: 80px;
    background-color: pink;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    color: green;
}


#ul {
    list-style: none;
    position: absolute;
    top: 50px;
    right: 150px;
    width: 150px;
    /* height: 100px; */
    text-align: center;
    border-radius: 15px;
    background-color: pink;
}

#del {
    position: absolute;
    top: 150px;
    right: 0;
    width: 100px;
    height: 30px;
    background-color: pink;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}

#point {
    position: absolute;
    list-style: none;
    bottom: 50px;
    left: 10px;
    color: #f55727;
}

#excel-file {
    position: absolute;
    top: 200px;
    left: 100px;
}